{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {
    "no-console": "off",
    "no-throw-literal": "off"
  },
  "settings": {
    "import/core-modules": [
      "aws-sdk"
    ]
  }
}