{
  "branch": "master",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/git",
    "semantic-release-docker"
  ],
  "publish": [
    {
      "path": "semantic-release-docker",
      "name": "firstclasspostcodes/mock"
    }
  ]
}